@model ChargifySampleSite.MVC3.Models.LocalSubscriptionViewModel

@if (ViewData.ContainsKey("RequireCreditCard"))
{
    if ((bool)ViewBag.RequireCreditCard)
    {
    <fieldset>
        <legend>Credit Card Details</legend>
        <div class="subcolumns">
            <div class="c50l">
                <div class="subcl type-text">
                    @Html.LabelFor(model => model.CardNumber)
                    @Html.EditorFor(model => model.CardNumber)
                </div>
                <div class="subcl type-select">
                    @Html.LabelFor(model => model.ExpMonth)
                    @Html.DropDownListFor(model => model.ExpMonth, (SelectList)ViewBag.ExpMonths, "-- Please Select --", new { @class = "required" })
                </div>
            </div>
            <div class="c50r">
                <div class="subcr type-text">
                    @Html.LabelFor(model => model.CVV)
                    @Html.EditorFor(model => model.CVV)
                </div>
                <div class="subcr type-select">
                    @Html.LabelFor(model => model.ExpYear)
                    @Html.DropDownListFor(model => model.ExpYear, (SelectList)ViewBag.ExpYears, "-- Please Select --", new { @class = "required" })
                </div>
            </div>
        </div>

    </fieldset>
    }
}