@{
    ViewBag.Title = "Home";
}

@section head {}
@section menu {
    <div class="hlist">
	    <ul>
		    <li class="active"><strong>Home</strong></li>
		    <li>@Html.ActionLink("Plans", "Plans", "Home")</li>
            <li>@Html.ActionLink("Login", "LogOn", "Account")</li>
            @if(Request.IsAuthenticated) { 
                <li>@Html.ActionLink("Site", "Index", "Site")</li>    
            }
	    </ul>
    </div>
}
@section leftContent {
    <h2>Welcome!</h2>
    <div class="info">
        <p>
            Welcome to the ASP.NET MVC3 Chargify Demo.
            You can do the following things in this demo:
        </p>
        <ul>
            <li>Login as a sample user</li>
            <li>Create your own subscription</li>
            <li>Change/migrate current subscription</li>
            <li>Change/update credit card information</li>
            <li>View transaction list</li>
        </ul>
        <p>
            To begin this demo, either @Html.ActionLink("Login", "LogOn", "Account") or start by @Html.ActionLink("selecting a plan", "Plans", "Home") to subscribe to.
        </p>
        <p>
            - Thanks, Kori<br /><br />
            <span class="dimmed">If you have any issues, feel free to post them on the <a href="http://chargify.codeplex.com/">CodePlex Chargify project</a>.</span>
        </p>
    </div>
}

<table class="full">
    <thead>
        <tr>
            <th scope="col" colspan="2">Site Options</th>
        </tr>
    </thead>
    <tr>
        <td style="width:48px;">
            <img alt='' src="@Url.Content("~/Content/images/onebit_39.png")" style="height: 48px; width: 48px;" />            
        </td>
        <td>
            <h3>Plans and Pricing</h3>
            <p>Great products for your demo needs!</p>
            @Html.ActionLink("View our plans ...", "Plans", "Home")
        </td>
    </tr>
    <tr>
        <td style="width:48px;">
            <img alt='' src="@Url.Content("~/Content/images/supportFP.gif")" style="height: 48px; width: 48px;" />
        </td>
        <td>
            <h3>Support</h3>
            <p>Something wrong? Get in touch with us ...</p>
            <a href="#contactSupport">Contact Support</a>
        </td>
    </tr>
</table>