@{
    ViewBag.Title = "Plans";
}

@section head {}
@section menu {
    <div class="hlist">
	    <ul>
		    <li>@Html.ActionLink("Home", "Index", "Home")</li>
		    <li class="active"><strong>Plans</strong></li>
	    </ul>
    </div>
}
@section leftContent {
     <div class="info">
        <p>
            You can subscribe to any one of these plans in two different ways.
            You can subscribe:
        </p>
        <ul>
            <li><strong>Local</strong> - use API from this site</li>
            <li><strong>Remote</strong> - use the hosted page</li>
        </ul>
        <p>
            If you choose to signup <strong>locally</strong>, then you will be directed to a page 
            that will ask for both account and billing information in a single form. After completing, 
            you will be redirected to the secure section of the app if successful.
        </p>
        <p>
            If you choose to signup <strong>remotely</strong>, via the Chargify hosted sign up page - you
            will be asked for some information about your new account (such as login information) before
            being redirected to the hosted signup page. Once you complete the form on the hosted signup page,
            you will be redirected back to this site to the 'result' page that will either show you that the
            subscription was successful or not successful.            
        </p>
    </div>
}

<table class="full">
        <thead>
            <tr>
                <th scope="col" colspan="2">Our Plans</th>
            </tr>
        </thead>
        <tr>
            <td style="width: 80px;">
                <img alt='basic' src="@Url.Content("~/Content/images/Free.png")" />
            </td>
            <td>
                <h3>Free Plan</h3>
                <p>Here's some info about the free plan.</p>
                @Html.ActionLink("Subscribe (Local)", "Subscribe", new {@id = "free"}) |
                @Html.ActionLink("Subscribe (Remote)", "SubscribeRemote", new {@id = "free"})
            </td>
        </tr>
        <tr>
            <td style="width: 80px;">
                <img alt='basic' src="@Url.Content("~/Content/images/Basic.png")" />
            </td>
            <td>
                <h3>Basic Plan</h3>
                <p>Here's some info about the basic plan.</p>
                @Html.ActionLink("Subscribe (Local)", "Subscribe", new {@id = "basic"}) | 
                @Html.ActionLink("Subscribe (Remote)", "SubscribeRemote", new { @id = "basic"})
            </td>
        </tr>
        <tr>
            <td>
                <img alt='plus' src="@Url.Content("~/Content/images/Plus.png")" />
            </td>
            <td>
                <h3>Plus Plan</h3>
                <p>Here's some info about the plus plan.</p>
                @Html.ActionLink("Subscribe (Local)", "Subscribe", new {@id = "plus"}) | 
                @Html.ActionLink("Subscribe (Remote)", "SubscribeRemote", new { @id = "plus"})
            </td>
        </tr>
        <tr>
            <td>
                <img alt='premium' src="@Url.Content("~/Content/images/Premium.png")" />
            </td>
            <td>
                <h3>Premium Plan</h3>
                <p>Here's some info about the premium plan.</p>
                @Html.ActionLink("Subscribe (Local)", "Subscribe", new {@id = "premium"}) | 
                @Html.ActionLink("Subscribe (Remote)", "SubscribeRemote", new {@id = "premium"})
            </td>
        </tr>
        <tr>
            <td>
                <img alt='ultimate' src="@Url.Content("~/Content/images/Ultimate.png")" />
            </td>
            <td>
                <h3>Ultimate Plan</h3>
                <p>Here's some info about the ultimate plan.</p>
                @Html.ActionLink("Subscribe (Local)", "Subscribe", new {@id = "ultimate"}) | 
                @Html.ActionLink("Subscribe (Remote)", "SubscribeRemote", new {@id = "ultimate"})
            </td>
        </tr>
    </table>
    <br />
    <p style="position:relative;">
        We accept <img alt='' src="@Url.Content("~/Content/images/credit_cards.gif")" style="position:relative; top:5px;" />, our billing is handled by: 
        <img alt='' src="@Url.Content("~/Content/images/chargify.gif")" style="position:relative; top:4px;" /> and credit card processing by:
        <img alt='' src="@Url.Content("~/Content/images/beanstream.gif")" Height="24px" style="position:relative; top:9px;" />.
    </p>