@model ChargifyNET.SiteStatistics

@{
    ViewBag.Title = "Stats";
}

@section head {}
@section menu {
    <div class="hlist">
	    <ul>
		    <li>@Html.ActionLink("Logout", "LogOff", "Account")</li>
		    <li class="active"><strong>Dashboard</strong></li>
		    <li>@Html.ActionLink("Settings", "Settings", "Site")</li>
            <li>@Html.ActionLink("Statistics", "Stats", "Site")</li>
	    </ul>
    </div>
}
@section leftContent {
}

<h2>Stats</h2>

<fieldset>
    <legend>SiteStatistics</legend>

    <div class="display-label">SellerName</div>
    <div class="display-field">@Model.SellerName</div>

    <div class="display-label">SiteName</div>
    <div class="display-field">@Model.SiteName</div>

    <div class="display-label">TotalSubscriptions</div>
    <div class="display-field">@Model.TotalSubscriptions</div>

    <div class="display-label">SubscriptionsToday</div>
    <div class="display-field">@Model.SubscriptionsToday</div>

    <div class="display-label">TotalRevenue</div>
    <div class="display-field">@Model.TotalRevenue</div>

    <div class="display-label">RevenueToday</div>
    <div class="display-field">@Model.RevenueToday</div>

    <div class="display-label">RevenueThisMonth</div>
    <div class="display-field">@Model.RevenueThisMonth</div>

    <div class="display-label">RevenueThisYear</div>
    <div class="display-field">@Model.RevenueThisYear</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>

